<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-4mEE9cHZbidZJcxmn4NTbvBN60loYIA</string>
	<key>GCM_SENDER_ID</key>
	<string>546618455377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Amro.Upwork-Exercise-Ji</string>
	<key>PROJECT_ID</key>
	<string>upwork-exercise-jiwoong</string>
	<key>STORAGE_BUCKET</key>
	<string>upwork-exercise-jiwoong.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546618455377:ios:c6eeb8563dfe24b37f4f70</string>
</dict>
</plist>